.main {
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - 232px);
    height: calc(100% - 96px);
    /* background-color: lightpink; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    position: relative;
    background-color: lavender;
    box-sizing: border-box;
    max-width: 300px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 24px 12px 24px 24px;
    scrollbar-gutter: stable;
}

.inhalt {
    height: 100%;
    display: flex;
    justify-content: space-between;
}



.inhalt2 {
    height: 200%;
    display: flex;
    justify-content: space-between;
}

