.menu#board {
    background-color: var(--col-menu-active);
}

@media (max-width: 1000px) {
    .menu#board {
        background-color: transparent;
    }

    .menu#board img {
        content: url('../img/icon_menu_board_active.png');
    }

    .menu#board span {
        color: var(--col-main);
    }
}

.main {
    position: fixed;
    top: 96px;
    left: 232px;
    right: 0;
    padding: 72px 64px 48px;
    height: calc(100% - 96px);
    overflow-y: auto;
    transition: top 0.2s ease-in-out;
}


@media (max-width: 1000px) {
    .main {
        top: 80px;
        height: calc(100% - 80px);
        transition: top 0.2s ease-in-out;
    }
}

/* ############################################################ */
/* ############################################################ */
/* ############################################################ */
/* ----- Search-field ----- */
.board-headbox {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 35px;
}

.searchbox {
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid var(--col-separator-edit);
    display: flex;
    flex-wrap: nowrap;
}

.search-line {
    width: 232px;
    font-size: var(--font-16);
}

.search-iconbox {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}

.v-separator {
    width: 1px;
    height: 31px;
    border: 1px solid var(--col-separator-new);
}

.search-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* ############################################################ */
/* ############################################################ */
/* ############################################################ */
/* ----- Tasks-field ----- */
.task-board-main {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.task-col-main {
    min-width: 252px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task-col-head {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-col-head span {
    color: var(--col-menu);
    font-size: var(--font-23);
    font-weight: 700;
}

.task-col-head:hover img {
    content: url('../img/icon_addtask_hover.png');
    cursor: pointer;
}

.notaskinfo {
    padding: 8px;
    height: 48px;
    color: var(--col-separator-edit);
    background-color: var(--col-notaskbg);
    border: 1px dashed var(--col-separator-edit);
    border-radius: 10px;
    box-shadow: var(--sha-004015);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.task-col-list:has(.task-itembox) .notaskinfo {
    display: none;
}

/* ############################################################ */
/* ############################################################ */
/* ############################################################ */
/* ----- Tasks-Card ----- */
.task-itembox {
    width: 252px;
    padding: 16px;
    background-color: var(--col-white);
    border-radius: 24px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.08);
    cursor: pointer;
}

.task-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* ------------------------------------------------------------ */
/* ----- Category ----- */
.category {
    width: fit-content;
    height: fit-content;
    padding: 4px 16px;
    color: var(--col-white);
    background-color: var(--col-badge-8);
    border-radius: 8px;
}

.category.large {
    display: block;
    padding: 4px 24px;
    font-size: 23px;
    line-height: 120%;
}

/* ------------------------------------------------------------ */
/* ----- Text-Box ----- */
.text-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-title {
    color: var(--col-main);
    font-size: var(--font-16);
    font-weight: 700;
}

.task-description-preview {
    color: var(--col-separator-edit);
    font-size: var(--font-16);
}

/* ------------------------------------------------------------ */
/* ----- Subtasks ----- */
.subtask-box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* align-items: center; */
}

.subtask-barbox {
    z-index: 0;
    position: relative;
    width: 128px;
    height: 8px;
    background-color: var(--col-subtaskbg);
    border-radius: 5px;
}

.subtask-box span {
    display: flex;
    font-size: var(--font-13);
}

.subtask-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(2/3*128px);
    height: 8px;
    background-color: var(--col-main);
    border-radius: 5px;
}

/* ------------------------------------------------------------ */
/* ----- Assigned to and Prio ----- */
.subtask-assignedto-prio {
    display: flex;
    justify-content: space-between;
}

.subtask-assignedto-box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
}

.subtask-task-badge {
    position: relative;
    width: 32px;
    height: 32px;
    color: var(--col-white);
    border: 1px solid var(--col-white);
    border-radius: 16px;
    font-size: var(--font-12);
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtask-task-badge.bdg-2,
.subtask-task-badge.bdg-7,
.subtask-task-badge.bdg-11 {
    color: var(--col-black);
}

.subtask-task-badge + .subtask-task-badge {
    margin-left: -8px;
}

/* ############################################################ */
/* ############################################################ */
/* ############################################################ */
/* ----- AddTask-popup ----- */
.addtask-popup {
    z-index: 50;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #00000046;
    display: flex;
    justify-content: flex-end;
}

.addtask-popup:not(.active) {
    opacity: 0;
    transition: opacity 0.2s 0.2s ease-in-out;
    pointer-events: none;
}

.addtask-popup.active {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    pointer-events: all;
}

.addtask-head-close {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.addtask-head-close:hover {
    content: url('../img/icon_close_hover.png');
}

/* ############################################################ */
/* ############################################################ */
/* ############################################################ */
/* ----- EditTask-popup ----- */
.edittask-popup {
    z-index: 50;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #00000046;
    display: flex;
    justify-content: center;
}

.edittask-popup:not(.active) {
    opacity: 0;
    transition: opacity 0.2s 0.2s ease-in-out;
    pointer-events: none;
}

.edittask-popup.active {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    pointer-events: all;
}

.edittask-head-close {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.edittask-head-close:hover {
    content: url('../img/icon_close_hover.png');
}


/* ############################################################ */
/* ############################################################ */
/* ############################################################ */
/* ----- ViewTask-popup ----- */
.viewtask-popup {
    z-index: 50;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #00000046;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewtask-popup:not(.active) {
    opacity: 0;
    transition: opacity 0.2s 0.2s ease-in-out;
    pointer-events: none;
}

.viewtask-popup.active {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    pointer-events: all;
}

.viewtask-head-close {
    position: absolute;
    top:48px;
    right: 40px;
    cursor: pointer;
}

.viewtask-head-close:hover {
    content: url('../img/icon_close_hover.png');
}




