.menu#board {
    background-color: var(--col-menu-active);
}

.main {
    position: fixed;
    top: 96px;
    left: 232px;
    padding: 32px 88px 0px;
    height: calc(100% - 96px);
    overflow-y: auto;
    transition: top 0.2s ease-in-out;
}


@media (max-width: 1000px) {
    .main {
        top: 80px;
        height: calc(100% - 80px);
        transition: top 0.2s ease-in-out;
    }
}
