/* ############################################################ */
.edittask-popup-mainbox {
    position: relative;
    /* right: -530px; */
    top: calc(100% + 10px);
    width: 518px;
    height: 90%;
    background-color: var(--col-white);
    border-radius: 30px;
    transition: top 0.2s ease-in-out;
}

.edittask-popup.active .edittask-popup-mainbox {
    top: 5%;
    transition: top 0.2s 0.2s ease-in-out;
}

.edittask-popup-title {
    position: relative;
    padding: 0 40px;
    min-height: 156px;
    height: 156px;
    background-color: var(--col-white);
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.edittask-popup-title span {
    font-size: var(--font-48);
    font-weight: 700;
}

.edittask-popupbox {
    padding: 0px 12px 0px 24px;
    scrollbar-gutter: stable;
    height: calc(100% - 244px);
    background-color: var(--col-white);
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
}

.edittask-titelbox, .task-descriptionbox, .task-datebox, .prioritybox-main, .assignedto-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edittask-titelbox {
    gap: 12px;
}

#task-title, #task-title::placeholder {
    font-family: OpenSans;
    font-size: var(--font-32);
}

.label-bold {
    display: flex;
    gap: 8px;
}

.label-bold span:first-child {
    font-size: 19px;
    line-height: 120%;
    font-weight: 700;
}

.task-description {
    padding: 18px;
    width: 100%;
    min-height: 103px;
    resize: vertical;
    background-color: var(--col-white);
    border: 1px solid var(--col-placeholder);
    border-radius: 10px;
}

.task-description::placeholder {
    color: var(--col-placeholder);
}

.prioritybox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* ############################################################ */
/* ----- addtask - contact - assigned to - listitem ----- */
.contactlist-itembox {
    padding: 7px 16px;
    background-color: var(--col-white);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactlist-itembox.active {
    background-color: var(--col-badge-hover);
}

.contactlist-item-namebox {
    display: flex;
    align-items: center;
    gap: 1px;
}

.contactlist-item-badgebox {
    width: 42px;
    height: 42px;
    border: 2px solid var(--col-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactlist-item-badgebox span {
    width: 100%;
    height: 100%;
    color: var(--col-white);
    font-size: var(--font-12);
    border-radius: 999px;
}




/* ############################################################ */
.edittask-desktopbox {
    /* height: 100%; */
    width: 100%;
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.edittask-buttons {
    /* margin-right: 32px; */
    /* margin-bottom: 32px; */
    width: 518px;
    padding: 16px 40px 24px 40px;
    background-color: var(--col-white);
    border-radius: 0 0 30px 30px;
    display: flex;
    justify-content: flex-end;
}

.edittask-buttons .btn-primary {
    gap: 4px;
}

.edittask-buttons .btn-secondary {
    gap: 10px;
}

/* ############################################################ */
.assignedto-itembox, .category-itembox {
    display: none;
}

.input-box.active + .assignedto-itembox,
.input-box.active ~ .assignedto-itembox, 
.input-box.active + .category-itembox,
.input-box.active ~ .category-itembox 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.input-box.active > .dropdown-arrow {
    content: url('../img/drop_down_arrowup.png');
}

/* .assignedto-box+.input-box.active */




