* {
    position: relative;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    scrollbar-width: 12px;
    scrollbar-color: #c1c1c1 #f1f1f1;
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

:root {
    color: var(--col-black);
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.center-main {
    display: flex;
    justify-content: center;
}

.center-cross {
    display: flex;
    align-items: center;
}

body {
    z-index: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

.insert-top, .insert-bottom {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.insert-bottom {
    position: fixed;
    width: 232px;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: calc(100% - 96px);
    box-shadow: var(--sha-004015);
    flex-direction: column;
    transition-property: width, height, bottom;
    transition-delay: 0ms, 125ms, 125ms;
    transition-duration: 100ms, 100ms, 100ms;
}


.standard-text {
    color: var(--col-black);
    font-size: 23px;
    line-height: 120%;
}

::placeholder {
    color: var(--col-placeholder);
    opacity: 1;
}

:-webkit-input-placeholder, ::-ms-input-placeholder {
    color: var(--col-placeholder);
}

.flexrowvcenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ############################################################ */
/* ----- global ----- */

/* ----- Move ----- */
.center {
    display: flex;
    justify-content: center;
    align-self: center;
}

/* ----- Colors ----- */
.white { color: var(--col-white); }
.blue { color: var(--col-main); }
.blue2 { color: var(--col-main-hover); }

.bdg-0{ background-color: var(--col-badge-0); }
.bdg-1{ background-color: var(--col-badge-1); }
.bdg-2{ background-color: var(--col-badge-2); }
.bdg-3{ background-color: var(--col-badge-3); }
.bdg-4{ background-color: var(--col-badge-4); }
.bdg-5{ background-color: var(--col-badge-5); }
.bdg-6{ background-color: var(--col-badge-6); }
.bdg-7{ background-color: var(--col-badge-7); }
.bdg-8{ background-color: var(--col-badge-8); }
.bdg-9{ background-color: var(--col-badge-9); }
.bdg-10{ background-color: var(--col-badge-10); }
.bdg-11{ background-color: var(--col-badge-11); }
.bdg-12{ background-color: var(--col-badge-12); }
.bdg-13{ background-color: var(--col-badge-13); }
.bdg-14{ background-color: var(--col-badge-14); }

/* ----- Fonts ----- */
.font-12 { font-size: var(--font-12); }
.font-13 { font-size: var(--font-13); }
.font-16 { font-size: var(--font-16); }
.font-19 { font-size: var(--font-19); }
.font-23 { font-size: var(--font-23); }
.font-32 { font-size: var(--font-32); }
.font-33 { font-size: var(--font-33); }
.font-47 { font-size: var(--font-47); }
.font-48 { font-size: var(--font-48); }
.font-64 { font-size: var(--font-64); }

.font-12, .font-13, .font-16, .font-19, .font-23,
.font-32, .font-33, .font-47, .font-48, .font-61, .font-64 {
    line-height: 120%;
}

.font-w400 { font-weight: 400; }
.font-w500 { font-weight: 500; }
.font-w700 { font-weight: 700; }
.font-w800 { font-weight: 800; }

.nowrap {
    white-space: nowrap;
    word-wrap: unset;
}


/* ############################################################ */
/* ----- buttons ----- */
.btn-primary, .btn-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    padding: 10px 16px;
    color: var(--col-white);
    background-color: var(--col-main);
    border-radius: 8px;
    font-family: OpenSans;
    font-size: 23px;
    line-height: 120%;
    cursor: pointer;
    gap: 4px;
}

.btn-primary:hover {
    background-color: var(--col-main-hover);
    box-shadow: var(--sha-048020);
}

.btn-secondary {
    padding: 10px 16px;
    color: var(--col-secondary);
    background-color: var(--col-white);
    border: 1px solid var(--col-secondary);
    border-radius: 8px;
    font-family: OpenSans;
    font-size: 23px;
    line-height: 120%;
    cursor: pointer;
}

.btn-secondary:hover {
    padding: 9px 15px;
    border: 2px solid var(--col-main);
    box-shadow: var(--sha-048020);
}

.btn-primary.large, .btn-secondary.large {
    padding: 10px 35px;
}

.btn-secondary:hover.large {
    padding: 9px 34px;
}

.return-button {
    width: 37px;
    height: 37px;
    border-radius: 500px;
    cursor: pointer;
}

/* ############################################################ */
/* ----- prio-buttons ----- */
.btn-prio {
    padding: 18px 10px;
    width: 136px;
    height: 51px;
    color: var(--col-black);
    background-color: var(--col-white);
    box-shadow: var(--sha-004015);
    border-bottom: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn-prio.active span {
    color: var(--col-white);
}

.btn-prio.active#urgent {
    background-color: var(--col-prio-urgent);
}

.btn-prio.active#medium {
    background-color: var(--col-prio-medium);
}

.btn-prio.active#low {
    background-color: var(--col-prio-low);
}

.btn-prio.active#urgent img {
    content: url('../img/Prio_Urgent_w.png');
}

.btn-prio.active#medium img {
    content: url('../img/Prio_Medium_w.png');
}

.btn-prio.active#low img {
    content: url('../img/Prio_Low_w.png');
}

.btn-prio:hover:not(.active)#urgent {
    border-bottom: 2px solid var(--col-prio-urgent);
}

.btn-prio:hover:not(.active)#medium {
    border-bottom: 2px solid var(--col-prio-medium);
}

.btn-prio:hover:not(.active)#low {
    border-bottom: 2px solid var(--col-prio-low);
}

/* ############################################################ */
/* ----- links ----- */
.link-text {
    padding: 8px;
    color: var(--col-menu);
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
}

.link-text:not(.active):hover {
    color: var(--col-main-hover);
}

.link-text.active {
    color: var(--col-white);
    background-color: var(--col-main);
    border-radius: 10px;
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
}

.link-text.active:hover {
    background-color: var(--col-main-hover);
}

.link-text.underline:hover, .link-text.underline:focus {
    color: var(--col-main-hover);
    font-weight: 600;
    text-decoration: underline;
}

/* ############################################################ */
/* ----- form ----- */
.inputbox-main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-box-msg {
    position: absolute;
    bottom: -16px;
    color: var(--col-error);
    font-size: 13px;
    line-height: 120%;
}

.input-box-msg-large {
    position: absolute;
    bottom: -16px;
    padding: 8px;
    border-radius: 8px;
    color: var(--col-error);
    background-color: var(--col-white);
    box-shadow: var(--sha-004015);
    font-size: 13px;
    line-height: 120%;
}

.input-box {
    width: 100%;
    padding: 12px 21px;
    border-bottom: 1px solid var(--col-placeholder);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-box span, .inputbox-main span {
    display: block;
    opacity: 0;
}

.input-box:focus-within {
    border-color: var(--col-main);
}

.input-box.error {
    border-bottom: 1px solid var(--col-error);
}

.input-box.error span {
    position: absolute;
    bottom: -16px;
    left: 0;
    color: var(--col-error);
    font-family: Inter;
    font-size: 13px;
    line-height: 120%;
    display: block;
}


.passwordimg {
    cursor: pointer;
}

input[type="password"]:not(:focus) + .passwordimg {
    content: url('../img/icon_lock.png');
}

input[type="password"]:not(:focus) + .passwordimg:active {
    content: url('../img/icon_password_off.png');
}

input[type="password"]:focus + .passwordimg {
    content: url('../img/icon_password_off.png');
}

input[type="text"]:focus + .passwordimg {
    content: url('../img/icon_password_on.png');
}

input[type="text"]:not(:focus) + .passwordimg {
    content: url('../img/icon_password_on.png');
}

.input {
    width: 100%;
    color: var(--col-black);
    background-color: var(--col-white);
    font-size: 19px;
    line-height: 120%;
}

.input:focus {
    border: none;
    outline: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: none; */
    opacity: 0.0;
    cursor: pointer;
}

.input-box:has( .input:focus ) {
    border-bottom: 1px solid var(--col-main);
}

.input-img {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    bottom: 12px;
    pointer-events: none;
}

.checkbox-box {
    /* width: 100%; */
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

/* ############################################################ */
/* ----- Dropdown's ----- */
/* ----- contact ----- */
.dropdown-item {
    padding: 7px 16px;
    background-color: var(--col-white);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.1s ease;
}

.dropdown-item.list {
    padding: 12px 16px;
}

.dropdown-item:hover {
    background-color: var(--col-menu-active);
    transition: background-color 0.1s ease;
}

.dropdown-item.active {
    background-color: var(--col-main);
    transition: background-color 0.1s ease;
}

.dropdown-item.active:hover {
    background-color: var(--col-main-hover);
    transition: background-color 0.1s ease;
}

.dropdown-item.active .flexrowvcenter {
    color: var(--col-white);
}

.dropdown-item.active .dropdown-chk-img {
    content: url("../img/chk_true_white.png");
}

.dropdown-badgebox {
    display: flex;
    align-items: center;
}

.dropdown-badge {
    width: 42px;
    height: 42px;
    border: 2px solid var(--col-white);
    border-radius: 999px;
    font-size: var(--font-12);
    line-height: 120%;
    color: var(--col-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown-namebox {
    display: flex;
    gap: 16px;
}

.dropdown-badgebox {
    width: 42px;
    height: 42px;
}

.dropdown-iconbox {
    display: flex;
    align-items: center;
}

.dropdown-chk-img, .dropdown-item-option {
    width: 24px;
    height: 24px;
}

/* ------------------------------------------------------------ */
.input-box:has( .input:focus ) .subtask-plus {
    display: none;
}

.input-box:has( .input:focus ) .subtask-new-btns {
    display: flex;
}

.subtask-new-btns, .subtask-option-btns {
    display: flex;
    align-items: center;
    gap: 4px;
}

.subtask-option-btns {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-out;
}

.dropdown-item:hover .subtask-option-btns {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.1s ease;
}

.v-separator.new {
    width: 1px;
    height: 24px;
    background-color: var(--col-separator-new);
    border: 1px solid var(--col-separator-new);
}

.v-separator.edit {
    width: 1px;
    height: 24px;
    background-color: var(--col-separator-edit);
    border: 1px solid var(--col-separator-edit);
}

.dropdown-arrow, .subtask-plus,
.dropdown-item-img, .dropdown-item-option {
    cursor: pointer;
}

/* ############################################################ */
.badge-120 {
    width: 120px;
    height: 120px;
    border-radius: 999px;
    border: 3px solid var(--col-white);
    box-shadow: var(--sha-004015);
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-120-circle {
    font-family: Inter;
    font-size: var(--font-47);
    font-weight: 500;
}







/* ############################################################ */
/* ----- header ----- */
.header-main {
    z-index: 50;
    position: fixed;
    inset: 0 0 auto 0;
    padding: 20px 39px;
    height: 96px;
    background-color: var(--col-main);
    box-shadow: var(--sha-044010);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.header-main-logobox {
    height: 56px;
}

.header-main-logobox img {
    height: 56px;
    transition: all 0.2s ease-in-out;
}

.header-main-userbox {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.header-main-title {
    margin-right: 26px;
    font-size: 19px;
    line-height: 120%;
    color: var(--col-white);
}

.header-main-help {
    margin-right: 18px;
}

.header-main-user-mainbox {
    width: 56px;
    height: 56px;
    transition: all 0.2s ease-in-out;
}

.header-main-user-border {
    width: 56px;
    height: 56px;
    background-color: transparent;
    border: 3px solid var(--col-white);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.header-main-user-letters {
    width: 46px;
    height: 46px;
    padding: 10px;
    background-color: var(--col-white);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.header-main-user-initials {
    color: var(--col-main-hover);
    font-size: 19px;
    font-weight: 600;
    line-height: 120%;
    transition: all 0.2s ease-in-out;
}



/* ############################################################ */
/* ----- footer ----- */
.footer-main {
    height: 100%;
    width: 232px;
    padding: 38px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-first, .footer-last {
    height: 50%;
}

.menubox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.menu {
    width: 186px;
    height: 40px;
    padding: 8px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    cursor: pointer;
}

.menu.active {
    background-color: var(--col-menu-active);
}

.menu:hover {
    background-color: var(--col-menu-hover);
    transition: background-color 0.1s ease-in-out;
}

.menulink {
    height: 100%;
    color: var(--col-black);
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-linkbox {
    height: 100%;
    padding-bottom: 66px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
}




/* ############################################################ */
/* ############################################################ */
/* ############################################################ */


/* ############################################################ */
/* ----- header ----- */
@media (max-width: 1000px) {
    .insert-bottom {
        z-index: 2;
        top: auto;
        right: 0;
        left: 0;
        bottom: 0;
        height: 80px;
        width: 100%;
        overflow: hidden;
        background-color: var(--col-white);
        transition-property: width, height;
        transition-delay: 125ms, 0ms;
        transition-duration: 100ms, 100ms;
    }
    
    .header-main {
        height: 80px;
        transition: height 0.2s ease-in-out;
    }    

    .header-main-logobox img {
        height: 44px;
        transition: height 0.2s ease-in-out;
    }
    
    .header-main-title {
        display: none;
    }
    
    .header-main-help {
        display: none;
    }

    .header-main-user-mainbox {
        width: 40px;
        height: 40px;
        transition: all 0.2s ease-in-out;
    }

    .header-main-user-border {
        border: 2px solid var(--col-white);
        width: 40px;
        height: 40px;
        transition: all 0.2s ease-in-out;
    }
    
    .header-main-user-letters {
        width: 32px;
        height: 32px;
        transition: all 0.2s ease-in-out;
    }
        
    .header-main-user-initials {
        color: var(--col-main-hover);
        font-size: 14px;
        font-weight: 600;
        line-height: 120%;
        transition: all 0.2s ease-in-out;
    }



/* ############################################################ */
/* ############################################################ */
/* ############################################################ */
/* ----- footer ----- */
    /* .menubox :nth-child(2) { order: 3; } */
    .menubox :nth-child(1) { order: 1; }
    .menubox :nth-child(2) { order: 3; }
    .menubox :nth-child(3) { order: 2; }
    .menubox :nth-child(4) { order: 4; }

    .footer-main {
        inset: auto 0 0 0;
        padding: 0;
        width: 100%;
        height: 80px;
        flex-direction: row;
        align-items: center;
    }

    .footer-first {
        width: 100%;
        height: 100%;
    }

    .footer-linkbox {
        display: none;
    }

    .menu {
        width: 75px;
        height: 100%;
        padding: 0;
        justify-content: center;
        gap: 8px;
    }
    
    .menu:hover {
        background-color: transparent;
    }
    
    .menubox {
        height: 80px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menulink {
        inset: auto;
        padding: 0;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



/* ############################################################ */
.d-none {
    display: none;
}

