.menu#summary {
    background-color: var(--col-menu-active);
}

.main {
    position: fixed;
    top: 96px;
    left: 232px;
    /* padding: 32px 88px 0px; */
    width: calc(100% - 232px);
    height: calc(100% - 96px);
    /* overflow-y: auto; */
    transition: top 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-main {
    max-width: 912px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

.summary-welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.welcome-hello {
    font-size: 48px;
}

.welcome-name {
    font-size: 64px;
    line-height: 120%;
    font-weight: 700;
    color: var(--col-main);
}

.overview-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.taskcard {
    position: relative;
    padding: 40px;
    min-width: 204px;
    width: 204px;
    height: 219px;
    box-shadow: var(--sha-004015);
    border-radius: 30px;
    /* flex: 1 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskcard.large3 {
    padding: 28px 48px;
    width: 672px;
    color: var(--col-white);
    background-color: var(--col-main);
    flex-grow: 3;
    flex-shrink: 0;
    display: flex;
    gap: 35px;
}

.taskcard .center-cross {
    gap: 20px;
}

.countbox-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.countbox-main span:last-child {
    text-align: center;
}

.separator-v {
    position: relative;
    top: 0px;
    height: 145px;
    width: 3px;
    border-radius: 99px;
    background-color: var(--col-white);
}

.datebox {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.taskcard.alltasks {
    background-color: var(--col-menu-active);
}

.taskcard.flat {
    height: 191px;
}

/* ############################################################ */
.badge-logo {
    width: 66px;
    height: 66px;
    border-radius: 999px;
}

.large3 .badge-logo {
    border: 3px solid var(--col-white);
}



/* ############################################################ */
@media (max-width: 1000px) {
    .main {
        top: 80px;
        height: calc(100% - 80px);
        transition: top 0.2s ease-in-out;
    }
}
