.menu#summary {
    background-color: var(--col-menu-active);
}

@media (max-width: 1000px) {
    .menu#summary {
        background-color: transparent;
    }

    .menu#summary img {
        content: url('../img/icon_menu_summary_active.png');
    }

    .menu#summary span {
        color: var(--col-main);
    }
}

.main {
    position: fixed;
    top: 96px;
    left: 232px;
    min-width: 350px;
    width: calc(100% - 232px);
    height: calc(100% - 96px);
    transition: top 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-main {
    max-width: 912px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

.summary-welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 22px;
}

.welcome-hello {
    font-size: 48px;
    text-wrap: nowrap;
}

.welcome-name {
    font-size: 64px;
    line-height: 120%;
    font-weight: 700;
    color: var(--col-main);
    text-align: center;
}

.overview-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.taskcard {
    position: relative;
    padding: 40px;
    min-width: 204px;
    width: 204px;
    height: 219px;
    box-shadow: var(--sha-004015);
    border-radius: 30px;
    /* flex: 1 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.taskcard:hover {
    border-radius: 0 30px 30px 30px;
    transition: all 0.1s ease-in-out;
    background-color: var(--col-main-hover);
}

.taskcard:hover .taskcard-count,
.taskcard:hover .taskcard-text {
    color: var(--col-white);
}

.taskcard.urgent {
    padding: 28px 48px;
    width: 672px;
    color: var(--col-white);
    background-color: var(--col-main);
    flex-grow: 3;
    flex-shrink: 0;
    display: flex;
    gap: 35px;
}

.taskcard.urgent:hover, .taskcard.todo:hover {
    background-color: var(--col-white);
}

.taskcard.urgent:hover .taskcard-count,
.taskcard.urgent:hover .datebox span,
.taskcard.urgent:hover .taskcard-text, 
.taskcard.todo:hover .taskcard-count,
.taskcard.todo:hover .taskcard-text {
    color: var(--col-main);
}

.taskcard.urgent:hover .separator-v {
    background-color: var(--col-main-hover);
}

.taskcard .center-cross {
    gap: 20px;
}

.countbox-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.countbox-main span:last-child {
    text-align: center;
}

.separator-v {
    position: relative;
    top: 0px;
    height: 145px;
    width: 3px;
    border-radius: 99px;
    background-color: var(--col-white);
}

.datebox {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.taskcard.todo {
    background-color: var(--col-menu-active);
}

.taskcard.flat {
    height: 191px;
}

.taskcard-count {
    font-size: var(--font-48);
    font-weight: 700;
}

.taskcard-text {
    font-size: var(--font-23);
}



/* ############################################################ */
.badge-logo {
    width: 66px;
    height: 66px;
    border-radius: 999px;
}

.taskcard:not(.todo) .badge-logo {
    border: 3px solid var(--col-white);
}

/* .large3 .badge-logo {
    border: 3px solid var(--col-white);
} */



/* ############################################################ */
@media (max-width: 1150px) {
    .main {
        padding-left: 0px;
        padding-right: 0px;
    }

    .welcome-hello {
        padding-left: 16px;
        font-size: var(--font-32);
    }

    .welcome-name {
        font-size: var(--font-48);
    }

    .summary-main {
        padding-bottom: 8px;
        max-width: none;
        width: 100%;
        scrollbar-gutter: stable;
        justify-content: flex-start;
        overflow-y: auto;
    }

    .overview-main {
        padding: 0 16px;
        scrollbar-gutter: stable;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 219px);
        flex-wrap: wrap;
        gap: 32px;
        grid-template-areas:    'urgent urgent'
                                'todo todo'
                                'alltasks inprogress'
                                'awaiting done';
    }                            

    .taskcard {
        width: auto;
        height: auto;
    }

    .taskcard, 
    .taskcard.flat {
        height: 219px;
    }

    .taskcard.urgent {
        grid-area: urgent;
        width: 100%;
    }

    .taskcard.alltasks {
        grid-area: alltasks;
    }    
    
    .taskcard.todo {
        grid-area: todo;
    }

    .taskcard.inprogress {
        grid-area: inprogress;
    }

    .taskcard.awaiting {
        grid-area: awaiting;
    }

    .taskcard.done {
        grid-area: done;
    }
}


@media (max-width: 1000px) {
    .main {
        top: 80px;
        left: auto;
        width: 100%;
        height: calc(100% - 160px);
        transition: top 0.2s ease-in-out;
    }

    .summary-main {
        gap: 36px;
    }
}


@media (max-width: 500px) {
    .summary-welcome {
        flex-direction: column;
    }

    .welcome-hello {
        padding-left: 16px;
        font-size: var(--font-19);
    }

    .welcome-name {
        font-size: var(--font-23);
    }

    .summary-main {
        gap: 24px;
    }

    .overview-main {
        grid-template-rows: repeat(4, 150px);
        gap: 16px;
    }

    .taskcard, 
    .taskcard.flat {
        height: auto;
    }

    .taskcard.urgent {
        padding: 20px;
    }

    .center {
        align-self: auto;
    }

    .taskcard {
        padding: 20px;
        min-width: 126px;
        width: auto;
        height: auto;
        box-shadow: var(--sha-004015);
        border-radius: 30px;
    }
    
    .badge-logo {
        width: 40px;
        height: 40px;
    }

    .separator-v {
        top: 0px;
        height: calc(100% - 16px);
        width: 2px;
    }
    
    .taskcard-count {
        font-size: var(--font-32);
    }

    .taskcard-text {
        font-size: var(--font-23);
    }

    #urgent-date {
        font-size: var(--font-19);
    }

    .taskcard.todo .countbox-main {
        flex-direction: row;
    }
    
}


